<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @talent.name %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @talent.birth %>
</p>

<p>
  <strong>Speciality:</strong>
  <%= @talent.speciality %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @talent.memo %>
</p>

<%= link_to 'Edit', edit_talent_path(@talent) %> |
<%= link_to 'Back', talents_path %>
