<%= form_with(model: tarent, local: true) do |form| %>
  <% if tarent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tarent.errors.count, "error") %> prohibited this tarent from being saved:</h2>

      <ul>
      <% tarent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :learning_level %>
    <%= form.text_field :learning_level, id: :tarent_learning_level %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :tarent_user_id %>
  </div>

  <div class="field">
    <%= form.label :skill_id %>
    <%= form.text_field :skill_id, id: :tarent_skill_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
